header.bg-red.arizona-header
  .container
    .row
      a.arizona-logo(href='https://www.arizona.edu', title='The University of Arizona homepage')
        img.arizona-line-logo(alt='The University of Arizona Wordmark Line Logo White', src='https://cdn.digital.arizona.edu/logos/v1.0.0/ua_wordmark_line_logo_white_rgb.min.svg')
