.container
  .row
    div.col-xs-12.bg-sky(aria-label='breadcrumb')
      .item-list
        ol.breadcrumb
          each crumb in breadcrumbs
            li
              a(href=crumb.href) #{crumb.title}
          li.active #{webDirName}    
