.container
  .row
    div.col-xs-12(aria-label='breadcrumb')
      .item-list
        ol.breadcrumb
          each crumb in breadcrumbRefs
            li
              a(href=crumb.href) crumb.title
          li.active dirName    
