script(src='https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.slim.min.js', integrity='sha384-w5y/xIeYixWvfM+A1cEbmHPURnvyqmVg5eVENruEdDjcyRLUSNej7512JQGspFUr', crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous')
script(src='https://cdn.digital.arizona.edu/lib/arizona-bootstrap/2.0.25/js/arizona-bootstrap.min.js', crossorigin='anonymous')
