nav.nav.flex-column.list-group(role='menu')
  each ref in navRefs
    if ref.active
      span.nav-link.is-active.list-group-item(role='menuitem', aria-disabled='true') <span class="material-icons-sharp">folder_open</span> #{ref.title}
    else
      a.nav-link.list-group-item(href=ref.href, role='menuitem') <span class="material-icons-sharp">folder</span> #{ref.title}
