doctype html
  head
    include /webassets/commonhead.pug
    title dirName
  body
    div#main(role='main')
      include /webassets/breadcrumbbar.pug
      .container
        .row
          #content.col-md-9.col-md-push-3
            .page-header
              h1 dirName
            include /webassets/dirlist.pug
          aside.col-md-3.col-md-pull-9(role='complementary')
            include /webassets/siblingnav.pug
    include /webassets/commonfoot.pug
