doctype html
html
  head
    include commonhead.pug
    title #{dirName}
  body
    include arizonabanner.pug
    div#main(role='main')
      include breadcrumbbar.pug
      .container
        .row
          #content.col-md-9.order-2
            .page-header
              h1 #{dirName}
            include dirlist.pug
          aside.col-md-3.order-1(role='navigation')
            include siblingnav.pug
      include commonfooter.pug
    include commonbodyend.pug
