doctype html
html
  head
    include commonhead.pug
    title #{siteName}
  body
    include arizonabanner.pug
    div#main(role='main')
      .container
        .row
          #content.col-md-9.col-md-push-3
            .page-header
              h1 #{siteName}
            include dirlist.pug
      include commonfooter.pug
    include commonbodyend.pug
